{% extends 'shop/base.html' %}
{% block body %}
    {% load static %}
    <div class="mx-2 my-2">
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Product</th>
                <th scope='col'>Qty.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope='row'>1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
